*{
   margin: 0;
   padding: 0; 
   box-sizing: border-box;
   border: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #004080;
    color: white;
    padding: 20px;
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.logo {
    font-size: 24px;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    display: flex;
    align-items: center;
    padding-right: 40px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
}

.nav-links li:hover{
    font-weight: 700;
}

.nav-links a {
    color: white;
    text-decoration: none;
}
.hero {
    text-align: center;
    height: 35vh;
    align-content: center;
    background: url('image/hero-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}
.maincontent{
    display: flex;
    flex-direction: column;
}
.btn {
    padding: 10px 20px;
    width: 200px;
    margin: auto;
    background: #FF851B;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}
.features {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 47vh;
    padding: 50px 20px;
    background: #f8f9fa;
}
.feature {
    align-content: center;
    text-align: center;
    width: 30%;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    background: #222;
    color: white;
    margin-top: auto;
}

.secure{
    padding-bottom: 15px;
    text-align: center;
}

.feature img{
    padding-bottom: 25px;
    height: 150px;
}
